header.header
  nav#mainNav.navbar.navbar-toggleable-md.navbar-light
    .container.nav__container
      .row.navbar__row.justify-content-between.justify-content-md-start.navbar__row.align-items-center
        .col-10.col-sm-6.col-md-5.hidden-lg-up
          button.hidden-lg-up.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .col-sm-10.col-md-10.col-lg-6.hidden-sm-down.flex-lg-first
          .row     
            .col-24.col-md-8      
              .logo     
                img.img-fluid(src='img/logo/logo.png', alt='Лого')      
            .col-24.col-md-16.align-self-center     
              .logo__text!=content.indexb.header.logo
        .col-14.col-sm-8.col-md-8.col-lg-5.col-xl-4.flex-sm-last
          .nav__contact.ml-auto
            .header__numbers
              .header__number
                a.footer__link(href='tel:0678000144') 067-800-0144
              .header__number
                a.footer__link(href='tel:0504078836') 050-407-8836
            a.nav__btn(data-toggle="modal", href="#call__modal")
              i.ic.ic--phone
              .nav__contact--text!=content.site.nav.btn.text
        .col.flex-md-last.flex-lg-first
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.nav-fill.w-100
              each item, i in content.site.nav.links
                li.nav-item
                  a.nav-link.nav__link(class={"nav-link--active": i === 0}, href=item.href)!= item.name
                    if (i === 0) 
  .container.header__container
    .row.header__row.justify-content-xl-start.d-flex.align-items-stretch
      .header__box.align-self-center
        .col-24.col-md-18.offset-md-3.col-lg-16.offset-lg-0
          h1.header__title!=content.indexb.header.title
        .col-24.col-md-22.col-lg-14.offset-md-1.offset-lg-0
          h2.header__subtitle!=content.indexb.header.subtitle
        .col-24.col-md-18.col-lg-14.offset-md-3.offset-lg-0
          .header__text!=content.indexb.header.text 
        .col-24.col-md-14.col-lg-8.offset-md-5.offset-lg-0
          button.button.button--size.header__btn(data-toggle="modal", data-target="#header__modal")!=content.index.header.btn.text   
